:root {
    --dark: #152F35;
    --black: #0C2328;
    --yellow: #F7FF91;
    --grey: #D9E3E3;
    --light: #E9FF61;
    --blackText: #202828;
}

* {
    box-sizing: border-box;

    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: var(--blackText);
}

:focus-visible {
    outline: none;
}

body {
    background: var(--grey);

}

main {
    overflow: hidden;
}

h1, h2, h3, p, ul {
    padding: 0px;
    margin: 0px;
}

.container {
    max-width: 1315px;
    padding-left: 60px;
    padding-right: 60px;
    margin-left: auto;
    margin-right: auto;
}

.hero {
    min-height: 720px;
    width: 100%;
    position: relative;
}


.hero__picture {
    z-index: -1;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.hero__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero__line {
    position: absolute;
    right: 50px;
    top: 50px;
    width: 2px;
    height: 619px;
    background: linear-gradient(to bottom, rgb(217, 227, 227, 1), rgb(217, 227, 227, 0));
}

.hero .container {
    padding-top: 387px;
    padding-bottom: 65px;
    height: 100%;
}

.hero__content {
    max-width: 488px;
}

.hero__title {
    border-bottom: 1px solid var(--dark);
    padding-bottom: 13px;
    margin-bottom: 17px;
    color: var(--dark);
}

.hero__title, .hero__yellow-text {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
}

.hero__yellow-text {
    color: var(--yellow);
}

.hero__o {
    margin-right: 4px;
}

.hero__o::before {
    font-size: 38px;
}

.hero__text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
    color: var(--dark);

}

.button {
    cursor: pointer;
    border-radius: 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    transition: all .3s ease-in-out;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;

}

.hero__button {
    background: var(--yellow);
    width: 260px;
    color: var(--dark);
}

.hero__button:hover {
    background: var(--dark);
    color: var(--yellow);
}

.hero__button:active {
    background: var(--black);
}

.help {
    padding-top: 90px;
    overflow: hidden;
    position: relative;
    margin-bottom: 220px;
}

.help .container {
    display: flex;
    gap: 90px 171px;
    justify-content: center;
    flex-wrap: wrap;
}

.help__left {
    border: 1px solid var(--dark);
    border-radius: 16px;
    padding: 33px;
    width: 490px;
}

.help__image {
    object-fit: cover;
    width: 423px;
    height: 280px;
    border-radius: 16px;
    margin-bottom: 13px;
}

.help__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: var(--blackText);
    margin-bottom: 14px;
}

.help__text {
    color: var(--blackText);
    margin-bottom: 10px;
}

.help__right {
    flex-grow: 1;
    margin-right: -20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 90px;
}

.help__block {
    display: flex;
    align-items: stretch;
    flex-direction: row-reverse;
    justify-content: center;
}

.help__block:nth-child(2n) {
    flex-direction: row;
    transform: translateX(-76px);
}

.block__content {
    max-width: 271px;
    border-left: 2px solid var(--blackText);
    padding-left: 10px;
}

.help__block:nth-child(2n) .block__content {
    max-width: 320px;
    border-left: none;
    border-right: 2px solid var(--blackText);
    padding-right: 10px;
    padding-left: 0px;
}

.block__title {
    margin-top: -3px;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #000;
    margin-bottom: 14px;

}

.help__block:nth-child(2n) .block__title, .help__block:nth-child(2n) .block__text {
    text-align: right;
}

.block__decor {
    margin-right: 38px;
    position: relative;
    width: 180px;
}

.help__block:nth-child(2n) .block__decor {
    margin-right: auto;
    margin-left: 38px;
}


.block__decor::before {
    position: absolute;

    transform: translateY(-50%);
}


.icon-vector3::before {
    font-size: 50px;
    top: 40%;
    right: 0px;
}

.icon-vector2::before {
    font-size: 94px;
    top: 50%;
    left: 0px;
}

.icon-vector1::before {
    font-size: 93px;
    top: 50%;
    right: 0px;
}

.help__light {
    top: -200px;
    right: -200px;
}

.light {
    z-index: -1;
    border: 1px solid red;
    position: absolute;
    width: 562px;
    height: 570px;
    opacity: .4;
    filter: blur(178.5px);
    background: var(--yellow);
}

.team__top {
    margin-left: 15px;
    max-width: 450px;
    margin-bottom: 39px;
}

.team__title {
    font-weight: 600;
    font-size: 44px;
    line-height: 55px;
    color: var(--blackText);
    margin-bottom: 10px;
    letter-spacing: -0.02em;
}

.team__text {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
}

.team__list {
    list-style: none;
    gap: 30px 20px;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}

.team__item {
    padding: 28px;
    width: 385px;
    border: 1px solid var(--dark);
    border-radius: 36px;
}

.item__image {
    object-fit: cover;
    width: 330px;
    height: 190px;
    margin-bottom: 10px;
    border-radius: 16px;
}

.item__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: var(--dark);
    margin-left: 10px;
    margin-bottom: 12px;
}

.item__list {
    list-style-type: disc;
    margin-left: 35px;
    margin-bottom: 12px;
}

.item__text span {
    display: block;
    transform: translate(-4px, -1.5px);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;

}


.team {
    position: relative;
    margin-bottom: 160px;
}

.team__light {
    left: -150px;
    top: -74px;
}

.team .container {
    position: relative;
}

.decor {
    position: absolute;
}

.team .decor {
    z-index: -1;
    width: 852px;
    height: 300px;
    top: -66px;
    right: 59px;
}

.team .decor::before {
    z-index: 1000;
    font-size: 100px;
}

.form {
    position: relative;
    margin-bottom: 120px;
}

.form__title {
    width: fit-content;
    font-weight: 700;
    font-size: 100px;
    line-height: 126px;
    letter-spacing: -0.03em;
    color: var(--dark);
    margin-bottom: 60px;
}

.form__o {
    margin-left: 6px;
    margin-right: 12px;
}

.form__o::before {
    font-size: 57px;
    color: var(--dark);
}

.form__body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form__left {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 24px;
}

.form__email {
    display: flex;
    gap: 14px;

}

.form__field {
    border: 1px solid var(--dark);
    border-radius: 12px;
    width: 288px;
    padding: 10px 16px 10px;
    position: relative;
}

.form__legend {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.02em;
    padding: 0 5px;
    color: var(--dark);
}

.form__input {
    caret-color: var(--dark);
    background: transparent;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 17px;
    color: var(--dark);
}

.form__label {
    pointer-events: none;
    position: absolute;
    left: 10px;
    top: 6px;
}

.form__input-name {
    display: block;
    padding: 4px;
    transition: all .3s ease-in-out;
    transform: translate(0px, 0px);
    background: var(--grey);
}

.form__field input:focus + .form__label .form__input-name, .form__field input:valid + .form__label .form__input-name, .form__field textarea:focus + .form__label .form__input-name, .form__field textarea:valid + .form__label .form__input-name {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.02em;
    transform: translate(6px, -19px);
}

.form__field input:focus-visible + .form__legend {
    color: red;
}

textarea {
    border: none;
    resize: none;
    color: var(--dark);
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
    caret-color: var(--dark);
    background: transparent;
    padding: 0px;
    width: 100%;
    height: 125px;
    overflow-x: hidden;
    overflow-y: auto;
}

.form__textarea {
    width: 100%;
}

.form__submit {
    align-self: self-start;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__button {
    width: 302px;
    background: var(--dark);
    color: var(--yellow);
    margin-bottom: 10px;

}

.form__button:hover {
    background: var(--yellow);
    color: var(--dark);
}

.form__button:active {
    background: var(--black);
    color: var(--yellow);
}

.form__agree {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.agree__input {
    display: none;
}

.agree__checkbox {
    position: relative;
    width: 15px;
    height: 15px;
    border: 1px solid var(--dark);
    border-radius: 4px;
    background: transparent;
    transition: background .3s ease-in-out;
}

.agree__checkbox::before {
    opacity: 0;
    position: absolute;
    top: 53%;
    left: 51%;
    transform: translate(-50%, -50%);
    font-size: 8px;
    transition: opacity .3s ease-in-out;
}

.agree__input:checked + .agree__checkbox {
    background: var(--dark);
}

.agree__input:checked + .agree__checkbox::before {
    opacity: 1;
}

.form__content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: fit-content;
}

.form__text {
    font-size: 24px;
    line-height: 28px;
    width: 300px;
    text-align: right;
    margin-top: 60px;
    margin-left: auto;
}

.form__right {
    position: relative;
    flex-grow: 1;
}

.form__strong {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;

}

.form__light {
    bottom: -200px;
    right: -150px;
}

.form__decor {
    z-index: -1;
    top: -41px;
    right: -145px;
    position: absolute;
    width: 335px;
    height: 316px;
}

.footer {
    border-top: 2px solid rgb(21, 47, 53, .5);
    padding: 70px 0px 80px;
}

.footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.footer * {
    color: var(--dark);
}


.footer__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
}

.footer__year {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
}

.footer__address {
    width: 419px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
}

.footer__contacts {
    list-style: none;
}

.footer__contact {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    padding-left: 30px;
    background: no-repeat left 0px center / contain;
}


.footer__contact.email {
    background-size: 20px 20px;
    background-image: url("../img/mail.png");
}

.footer__contact.phone {
    background-size: 19px 19px;

    background-image: url("../img/phone.png");
}

.footer__contact:not(:last-child) {
    margin-bottom: 16px;
}

@media (max-width: 1000px) {

    .item__text span {
        font-size: 14px;
        line-height: 24px;
    }

    .container {
        padding-left: 84px;
        padding-right: 84px;
    }

    .hero {
        min-height: 1024px;
    }

    .hero .container {
        padding-top: 736px;
        padding-bottom: 65px;
        padding-left: 30px;
        height: 100%;
    }

    .hero__title, .hero__yellow-text {
        font-size: 32px;
        line-height: 34px;
        letter-spacing: 0.03em;
    }

    .hero__o::before {
        font-size: 26px;
    }

    .hero__content {
        max-width: 343px;
    }

    .hero__title {
        padding-bottom: 11px;
        margin-bottom: 10px;
    }

    .hero__text {
        letter-spacing: 0.01em;
        font-size: 14px;
        line-height: 20px;

    }

    .button {


        letter-spacing: 0.02em;
    }

    .hero__button {
        width: 196px;
        font-size: 14px;
        line-height: 18px;
        height: 50px;
    }

    .hero__line {
        display: none;
    }

    .help {
        padding-top: 80px;
        margin-bottom: 286px;
        overflow: visible;
    }

    .help__left {
        width: 100%;
        padding: 30px;
    }


    .help__title {
        letter-spacing: -0.02em;
    }

    .help__image {
        width: 100%;
        margin-bottom: 20px;
    }

    .help__text {
        max-width: 400px;
        margin-bottom: 20px;
    }

    .help__light {
        top: 650px;
        right: -250px;
    }

    .team__title {
        font-size: 32px;
        line-height: 40px;
    }

    .team__text {
        font-size: 14px;
        line-height: 18px;
    }

    .team__list {
        gap: 42px;
    }

    .team__item {
        width: 100%;
        padding: 30px;
    }

    .item__image {
        height: 280px;
        width: 100%;
        margin-bottom: 13px;
    }

    .team .decor {
        width: 647px;
        height: 200px;
        top: -136px;
        right: 62px;
    }

    .team__light {
        left: -260px;
        top: -144px;
    }

    .team {
        margin-bottom: 120px;
    }

    .form .container {
        padding-right: 33px;
        padding-left: 33px;
    }

    .form__title {
        font-size: 66px;
        line-height: 83px;
        margin-bottom: 50px;
    }

    .form__o {
        margin-left: 3px;
        margin-right: 4px;
    }

    .form__o::before {
        font-size: 38px;
    }

    .form__left {
        width: 355px;
        gap: 20px;

    }

    .form__email {
        flex-direction: column;
        align-items: stretch;
        gap: 20px;
    }

    .form__field {
        width: 100%;
    }

    .form__submit {
        margin-top: 4px;
        align-self: center;
    }

    .form__text {
        margin-top: 100px;
    }

    .form__decor {
        top: 53px;
        right: 7px;
        width: 165px;
        height: 156px;
    }

    .form__light {
        bottom: -80px;
        right: -350px;
    }

    .footer__title {
        font-size: 20px;
        line-height: 25px;
    }

    .footer__logo {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }

    .footer {
        padding: 65px 0px 70px;
    }

    .footer .container {
        padding-left: 31px;
        padding-right: 31px;
        gap: 36px;
    }

    .footer__address {
        font-size: 14px;
        line-height: 24px;
        width: 350px;
    }

    .footer__contact {
        font-size: 14px;
        line-height: 20px;
    }


}

@media (max-width: 600px) {

    .container {
        padding-right: 10px;
        padding-left: 10px;
    }

    .hero {
        min-height: 812px;
    }


    .hero .container {
        padding-top: 535px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .form .container, .footer .container {
        padding-right: 10px;
        padding-left: 10px;
    }

    .hero__line {
        display: block;
        width: 1px;
        right: 11px;
        top: 72px;
    }

    .hero__title, .hero__yellow-text {
        font-size: 24px;
        line-height: 30px;
    }

    .hero__o {
        margin-right: 1px;
    }

    .hero__o::before {
        font-size: 20px;
    }

    .hero__content {
        max-width: 257px;
    }

    .hero__title {
        padding-bottom: 8px;
        margin-bottom: 8px;
    }

    .help__left {
        padding: 20px;
    }

    .help__image {
        height: 210px;
    }

    .help__title {
        font-size: 24px;
        line-height: 30px;
    }

    .help .container {
        gap: 60px;
    }

    .help__block {
        flex-direction: column-reverse !important;

    }

    .block__title, .block__text {
        text-align: left !important;
    }

    .block__title {
        font-size: 18px;
        line-height: 23px;
        margin-bottom: 8px;
    }

    .block__content {
        border-left: none;
        border-top: 2px solid var(--blackText);
        padding-left: 0px;
        padding-top: 16px;
        margin-top: 16px;
        margin-right: -10px;
        padding-right: 10px;
    }

    .help__block:nth-child(2n) .block__content {
        border-right: none;
        padding-right: 0px;
        margin-left: -10px;
        padding-left: 10px;
    }

    .help__block:nth-child(3) .block__content {
        max-width: 292px;
    }

    .help__block:nth-child(2n) .block__decor {
        margin-right: auto;
        margin-left: 0px;
    }

    .block__decor::before {
        position: relative;
        transform: translateY(0%);
        top: 0;
        left: 0;
    }


    .help__right {
        margin-right: 0px;
        align-items: flex-end;
        gap: 54px;
    }


    .help__block:nth-child(2n) {
        flex-direction: row;
        transform: translateX(0px);
        align-self: self-start;
    }

    .help {
        margin-bottom: 205px;
    }

    .help__light {
        top: 540px;
        right: -420px;
    }

    .team__title {
        font-size: 24px;
        line-height: 30px;
    }

    .team__top {
        margin-left: 0px;
    }

    .team__item {
        padding: 20px;
    }

    .item__list {
        margin-bottom: 22px;
    }

    .item__image {
        height: 210px;
    }

    .form__title {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 40px;
    }

    .form__o {
        margin-left: 2px;
        margin-right: 2px;
    }

    .form__o::before {
        font-size: 19px;
    }

    .form__text {
        margin-right: auto;
        text-align: center;
        margin-top: 73px;
    }

    .form__decor {
        top: 41px;
        right: 39px;
    }

    .team .decor {
        width: 367px;
        height: 100px;
        top: -79px;
        right: 18px;
    }

    .team__light {
        left: -455px;
        top: -285px;
    }

    .form__light {
        bottom: -378px;
        right: -399px;
    }

    .form__left {
        width: 100%;
    }

    .footer {
        padding: 65px 0px 90px;
    }

    .footer__logo {
        flex-direction: column;
    }

    .footer .container {
        align-items: center;
        gap: 30px;
        flex-direction: column;
    }

    .footer__address {
        text-align: center;
    }

    .footer__contacts {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .footer__contact {
        font-size: 16px;
        line-height: 20px;
    }
}








